.main {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-between;
  height: 20vw;
  position: relative;
  height: 100vh;
}


.logo {
  border-radius: 0px 0px 32px 0px;
  margin-right: auto;
  border: white;
  background-color: white;
  width: 5.5rem;
  height: 5.5rem;
  align-items: center;
  justify-content: center;
}

.textCenter {
  position: absolute;
  left: 29.11%;
  right: 29.74%;
  top: 1.94%;
  bottom: 91.11%;

  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 100px;
  text-align: center;

  color: #E74D20;
}

.loginButton {
  position: absolute;
  left: 90%;
  top: 1rem;
  bottom: 93.02%;
  border-radius: 32px;
  margin-top: 1rem;
  margin-right: 50px;
}

.button-77 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-77 {
    padding: 19px 32px;
  }
}

.button-77:before,
.button-77:after {
  border-radius: 80px;
}

.button-77:before {
  background-color: rgba(249, 58, 19, .32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
  color: #ccc;
}

.button-77:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-77:disabled {
  cursor: default;
  opacity: .24;
}

.bt{
  display: flex;
  justify-content: center;
  margin-top: 28%;
  
  
}

.link-kratong{
  text-decoration: none;
}